<%= form_for @budget, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h5>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= content_tag(:div, msg) %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :userId, {:value => current_user[:id]} %>

  <div class="form-group">
    <%= f.label :description, (I18n.t 'budget'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :description, :placeholder => (I18n.t "budget description"), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :amount, (I18n.t 'value'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-2 input-group">
      <%= f.text_field :amount, :placeholder => (I18n.t"budget value"), :class => 'form-control validate[required]' %>
      <span class="input-group-addon">zł</span>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :dateStart, (I18n.t 'start date'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :dateStart, :placeholder => (I18n.t "start date"), :class => 'form-control datepicker validate[required]' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :dateEnd, (I18n.t 'end date'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :dateEnd, :placeholder => (I18n.t "end date"), :class => 'form-control datepicker validate[required]' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit :class => 'btn btn-primary btn-small' %>
    </div>
  </div>
<% end %>
