<%= form_for @budget, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h5>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= content_tag(:div, msg) %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :userId, {:value => current_user[:id]} %>

  <div class="control-group">
    <%= f.label :description, (I18n.t 'budget'), {:class => 'control-label'} %>
    <div class="controls">
      <%= f.text_field :description, :placeholder => (I18n.t "budget description"), :class => 'input-xxlarge validate[required]' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :amount, (I18n.t 'value'), {:class => 'control-label'} %>
    <div class="controls">
      <div class="input-append">
        <%= f.text_field :amount, :placeholder => (I18n.t"budget value"), :class => 'input-large validate[required]' %>
        <span class="add-on">zł</span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :dateStart, (I18n.t 'start date'), {:class => 'control-label'} %>
    <div class="controls">
      <%= f.text_field :dateStart, :placeholder => (I18n.t "start date"), :class => 'input-small datepicker validate[required]' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :dateEnd, (I18n.t 'end date'), {:class => 'control-label'} %>
    <div class="controls">
      <%= f.text_field :dateEnd, :placeholder => (I18n.t "end date"), :class => 'input-small datepicker validate[required]' %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-small btn-info' %>
    </div>
  </div>
<% end %>
