<% title "Budgets" %>

<table class="table table-striped table-hover table-condensed" id="budgets_table">
    <thead>
        <tr>
            <th><%= I18n.t 'id' %></th>
            <th></th>
            <th><%= I18n.t 'description' %></th>
            <th class="amount"><%= I18n.t 'amount' %></th>
            <th class="amount"><%= I18n.t 'percentage' %></th>
            <th><%= I18n.t 'start' %></th>
            <th><%= I18n.t 'end' %></th>
            <th></th>
        </tr>
    </thead>
    <% n=0
    @budgets.each do |b| %>
    <% n +=1 %>
        <tr>
            <td><%= n %></td>
            <td>
                <% if session[:budget][:id] == b.id %>
                    <i class="fa fa-asterisk" title="<%= I18n.t 'active budget' %>"></i>
                <% end %>
            </td>
            <td><%= link_to b.description, edit_budget_path(b) %></td>
            <td class="amount"><%= number_to_currency b.amount %></td>
            <td class="amount"><%= number_to_percentage (b.get_budget_expenses*100/b.amount), :precision => 0 %></td>
            <td><%= b.dateStart %></td>
            <td><%= b.dateEnd %></td>
            <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_budget_path(b), :title => (I18n.t 'edit') %>
                <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, b, method: :delete, data: { confirm: (I18n.t 'Are you sure?') }, :title => (I18n.t 'delete') %>
            </td>
        </tr>
    <% end %>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    jQuery('#budgets_table').dataTable();
  });  
</script>
