<%= form_for @user, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, (I18n.t 'email'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :email, :class => 'form-control validate[required,custom[email]]' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, (I18n.t 'username'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :username, :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="form-group" id="pass">
    <%= f.label :password, (I18n.t 'password'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.password_field :password, :disabled => 'disabled', :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, (I18n.t 'name'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.select(:type_id,
            [["select...",""]] +
            Type.find(:all).collect {
              |d| [d.typeName, d.id]
            }
            ) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit :class => 'btn btn-primary btn-small' %>
    </div>
  </div>
<% end %>
