<%= form_for @user, :html => {:class => 'validate'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, (I18n.t 'email') %>
    <%= f.text_field :email, :class => 'validate[required,custom[email]]' %>
  </div>
  <div class="field">
    <%= f.label :username, (I18n.t 'username') %>
    <%= f.text_field :username, :class => 'validate[required]' %>
  </div>
  <div class="field" id="pass">
    <%= f.label :password, (I18n.t 'password') %>
    <%= f.password_field :password, :disabled => 'disabled' %>
  </div>
  <div class="field">
    <%= f.label :name, (I18n.t 'name') %>
    <%= f.text_field :name, :class => 'validate[required]' %>
  </div>
  <div class="field">
    <%= f.select(:type_id,
          [["select...",""]] +
          Type.find(:all).collect {
            |d| [d.typeName, d.id]
          }
          ) %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-small' %>
  </div>
<% end %>
