<% title "Users" %>
<div class="buttonNew">
  <%= link_to '<i class="icon-pencil"></i> '.html_safe+(I18n.t 'new user'), new_user_path, :class => 'btn btn-small' %>
</div>
<br />
<br />

<table class="table table-striped table-hover table-condensed" id="users_table">
  <thead>
    <tr>
      <th><%= I18n.t 'id' %></th>
      <th><%= I18n.t 'username' %></th>
      <th><%= I18n.t 'name' %></th>
      <th><%= I18n.t 'type' %></th>
      <th></th>
    </tr>
  </thead>
<%
n = 0
@users.each do |user|
  n += 1
  %>
  <tr>
    <td><%= n %></td>
    <td><%= link_to user.username, edit_user_path(user) %></td>
    <td><%= user.name %></td>
    <td><b><%= user.type.typeName %></b></td>
    <td>
      <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_path(user), :title => (I18n.t 'edit') %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, user, method: :delete, data: { confirm: (I18n.t 'Are you sure?') }, :title => (I18n.t 'delete') %>
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    jQuery('#users_table').dataTable();
  });  
</script>
