<% title "Forgot password" %>
<h5><%= I18n.t 'Forgot your password?' %></h5>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label :email, (I18n.t 'e-mail') %>
    <%= f.email_field :email %>
  </div>

  <div class="control-group">
    <div class="control">
      <%= f.submit I18n.t("Send me reset password instructions") %>
    </div>
  </div>
<% end %>

<%= render "links" %>