<% title "Home" %>
<% unless @presentBudget.nil? %>
    <p><%= I18n.t 'present budget' %>: <b><%= @presentBudget[:description] %></b> (<%= @presentBudget[:dateStart] %> <%= I18n.t 'to' %> <%= @presentBudget[:dateEnd] %>)</p>
<% else %>
    <p><%= I18n.t 'no budget set' %> :(</p>
<% end %>
