<% title "Log in" %>

<%= form_tag check_login_url, :class => 'form-horizontal' do %>
  <div class="form-group">
    <%= label_tag :username, (I18n.t 'username') %>
    <%= text_field_tag :username, params[:username], :placeholder => (I18n.t "username")%>
  </div>
  <div class="form-group">
    <%= label_tag :password, (I18n.t 'password') %>
    <%= password_field_tag :password %>
  </div>
  <div class="form-group">
  	<div class="control">
  		<%= submit_tag (I18n.t "log in") %>
  	</div>
  </div>
<% end %>
