<h3>Log in</h3>

<%= form_tag checkLogin_url, :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], :placeholder => "user name"%>
  </div>
  <div class="control-group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="control-group">
  	<div class="control">
  		<%= submit_tag "Log in" %>
  	</div>
  </div>
<% end %>

