<%= form_for @tag, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, :value => current_user[:id] %>

  <div class="form-group">
    <%= f.label :name, (I18n.t "name"), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :name, :placeholder => (I18n.t "name"), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, (I18n.t "description"), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_area :description, :size => '30x4', :placeholder => (I18n.t "optional tag description goes here"), :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <div class="checkbox">
        <label>
          <%= f.check_box :budget %> <%= f.label :budget, (I18n.t 'budget'), 'class' => "checkbox" %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit :class => 'btn btn-primary btn-small' %>
    </div>
  </div>

<% end %>
