<%= form_for @tag, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, :value => current_user[:id] %>

  <div class="control-group">
    <%= f.label :name, (I18n.t "name"), {:class => 'control-label'} %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => (I18n.t "name"), :class => 'validate[required]' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, (I18n.t "description"), {:class => 'control-label'} %>
    <div class="controls">
      <%= f.text_area :description, :size => '30x4', :placeholder => (I18n.t "optional tag description goes here") %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.label :budget, (I18n.t 'budget'), 'class' => "checkbox inline" %>
      <%= f.check_box :budget %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn btn-small'%>
    </div>
  </div>
<% end %>
