<h1>Listing tags</h1>

<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th></th>
  </tr>

<% 
n = 0
@tags.each do |tag| 
  n += 1
  %>
  <tr>
    <td><%= n %></td>
    <td><%= link_to tag.name, tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %> <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
