<% title "Tags" %>

<table class="table table-striped table-hover table-condensed" id="tags_table">
  <thead>
    <tr>
      <th><%= I18n.t 'id' %></th>
      <th></th>
      <th><%= I18n.t 'name' %></th>
      <th><%= I18n.t 'description' %></th>
      <% if current_user[:type_id] == 2 %>
        <th><%= I18n.t 'username' %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
<%
n = 0
@tags.each do |tag|
  n += 1
  %>
  <tr>
    <td><%= n %></td>
    <td>
    <% if tag.budget %>
      <i class="fa fa-asterisk" title="<%= I18n.t 'included in budget' %>"></i>
    <% end %>
    </td>
    <td><%= link_to tag.name, edit_tag_path(tag) %></td>
    <td><%= tag.description %></td>
    <% if current_user[:type_id] == 2 %>
        <td><%= tag.user.username %></td>
      <% end %>
    <td>
      <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_tag_path(tag), :title => (I18n.t 'edit') %>
      <% times_used = tag.expenses_tags_association.count %>
      <% if times_used == 0 %>
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tag, method: :delete, data: { confirm: (I18n.t 'Are you sure?') }, :title => (I18n.t 'delete') %>
      <% else %>
        <i class="fa fa-lock" title="<%= I18n.t 'cannot be deleted' %> (<%= I18n.t 'used' %> <%= times_used %> <%= I18n.t 'times' %>)"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    jQuery('#tags_table').dataTable();
  });  
</script>
