<% title "Log in" %>
<h4 class="center"><%= APP_CONFIG['app_name'] %></h4>

<%= form_for(resource, :as => resource_name, :html => { :class => 'form-horizontal'}, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
    <%= f.email_field :email, :placeholder => (I18n.t 'e-mail'), :class => 'input-block-level' %>
  </div>

  <div class="control-group">
    <%= f.password_field :password, :placeholder => (I18n.t 'password'), :class => 'input-block-level' %>
  </div>

  <div class="control-group">
    <div class="control">
      <%= f.submit (I18n.t "log in"), :class => 'btn btn-block' %>
    </div>
  </div>
  <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= (I18n.t "remember me") %>
      </label>
  <% end -%>
<% end %>

<%= render "links" %>