<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h5>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= content_tag(:div, msg) %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :userId, {:value => current_user[:id]} %>
  <div class="field">
    <%= f.label :description, (I18n.t 'description') %>
    <%= f.text_field :description, :placeholder => (I18n.t "description"), :class => 'input-xxlarge' %>
  </div>
  <div class="field input-append">
    <%= f.label :amount, (I18n.t 'value') %>
    <%= f.text_field :amount, :placeholder => (I18n.t "value"), :class => 'input-large' %>
    <span class="add-on">zł</span>
  </div>
  <div class="field">
    <%= f.label :date, (I18n.t 'expense date') %>
    <%= f.text_field :date, :placeholder => (I18n.t "expense date"), :class => 'input-small datepicker' %>
  </div>
  <div class="field">
    <%= f.label :half, (I18n.t 'half'), 'class' => "checkbox inline" %>
    <%= f.check_box :half %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-small' %>
  </div>
<% end %>
