<%= form_for @expense, :html => {:class => 'form-horizontal validate'} do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h5>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= content_tag(:div, msg) %>
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :userId, {:value => current_user[:id]} %>
  
  <div class="form-group">
    <%= f.label :description, (I18n.t 'description'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-4">
      <%= f.text_field :description, :placeholder => (I18n.t "description"), :class => 'form-control validate[required]' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :amount, (I18n.t 'value'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-2 input-group">
      <%= f.text_field :amount, :placeholder => (I18n.t "value"), :class => 'form-control validate[required]' %>
      <span class="input-group-addon">zł</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, (I18n.t 'expense date'), {:class => 'col-lg-2 control-label'} %>
    <div class="col-lg-2">
      <%= f.text_field :date, :placeholder => (I18n.t "expense date"), :class => "form-control datepicker validate[required]" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <div class="checkbox">
        <label>
          <%= f.check_box :half %> <%= f.label :half, (I18n.t 'half'), 'class' => "checkbox inline" %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit :class => 'btn btn-primary btn-small' %>
    </div>
  </div>
<% end %>
