<h3>Editing expense</h3>
<div class="row">
	<div class="span6">
		<%= render 'form' %>
	</div>
</div>

<p>tags:</p>
<% @expenseTags.each do |tag| %>
	<%= tag.tag.name %>
<% end %>


<%= form_tag addTag_url(@expense), :method => 'POST', :class => 'form-inline' do %>

<% options = options_for_select(
	[["select...",""]] +
  	@tags.collect {
    	|t| [t.name, t.id]
  	}
  	) %>
<%= select_tag(:tag, options) %>

<%= submit_tag 'Add tag', :name => nil %>
<% end %>

<p><%= link_to '<i class="icon-chevron-left"></i> expense details'.html_safe, @expense, :title => 'expense details' %></p>
