<script type="text/javascript">
  jQuery('#tabs a').click(function (e) {
    e.preventDefault();
    jQuery(this).tab('show');
  })

  jQuery(document).ready(function(){
    jQuery('#budget').change(function(){
      jQuery('#formBudget').submit();
    })

    jQuery('#pager').smartpaginator({ totalrecords: <%= @expenses.count %>,
                                      recordsperpage: 10,
                                      datacontainer: 'expensesTable',
                                      dataelement: 'tr',
                                      theme: 'white',
                                      next: '<%= I18n.t 'next' %>',
                                      prev: '<%= I18n.t 'prev' %>',
                                      first: '<%= I18n.t 'first' %>',
                                      last: '<%= I18n.t 'last' %>',
                                      go: '<%= I18n.t 'go' %>',
                                      display: "single",
                                      length: 2
                                    });

  })
</script>

<script type="text/javascript">
  jQuery(function () {
      var chart;
      jQuery(document).ready(function() {
          chart = new Highcharts.Chart({
              credits: false,
              chart: {
                  renderTo: 'pieChart',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: true
              },
              title: {
                  text: '<%= I18n.t 'all expenses categories' %>',
                  floating: true
              },
              tooltip: {
                pointFormat: '<b>{point.y} zł ( {point.percentage}% )</b>',
                percentageDecimals: 1
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                      }
              },
              legend: {
                layout: 'horizontal',
                labelFormatter: function() {
                  return this.name;
                }
              },
              series: [{
                  type: 'pie',
                  name: 'share',
                  data: <%= @chart_data.to_json.html_safe %>
              }]
          });
          chart2 = new Highcharts.Chart({
              credits: false,
              chart: {
                  renderTo: 'pieChart2',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: true,
              },
              title: {
                  text: '<%= I18n.t 'budget expenses categories' %>',
                  floating: true
              },
              tooltip: {
                // pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                pointFormat: '<b>{point.y} zł ( {point.percentage}% )</b>',
                percentageDecimals: 1
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              legend: {
                layout: 'horizontal',
                labelFormatter: function() {
                  // return '<b>'+ this.name +'</b>( '+ this.y.toFixed(2) +' zł )';
                  return this.name;
                }
              },
              series: [{
                  type: 'pie',
                  name: 'share',
                  data: <%= @chart_data2.to_json.html_safe %>
              }]
          });
      });

});
</script>
<% title "Expenses" %>
<div class="buttonNew">
  <%= link_to '<i class="icon-pencil"></i> '.html_safe+(I18n.t 'new expense'), new_expense_path, :class => 'btn btn-small' %>
</div>
<%
if session[:budget]
  defaultBudget = session[:budget][:id]
else
  defaultBudget = ''
end
if @budgets.count > 0 %>
  <%= form_tag setBudget_path, :method => 'POST', :class => 'form-inline', :id => 'formBudget' do %>
    <% options = options_for_select(
      [["all expenses","all"]] +
        @budgets.collect {
          |budget| ["#{budget.description} (#{budget.dateStart} - #{budget.dateEnd}) - #{number_to_currency budget.amount}", budget.id]
        },
        defaultBudget
        ) %>
    <%= select_tag :budget, options, :class => 'input-xxlarge' %>
  <% end %>
<% end %>

<div id="tabs">
  <ul class="nav nav-tabs">
    <li><a href="#tabular" data-toggle="tab"><%= I18n.t 'table' %></a></li>
    <li><a href="#charts" data-toggle="tab"><%= I18n.t 'charts' %></a></li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="tabular">
    <% if @budgetsSum > 0 %>
    <table class="table">
      <tr class="info">
        <td><%= I18n.t 'sum' %>:</td>
        <td><%= number_to_currency @budgetsSum %></td>
      </tr>
    </table>
    <% end %>
    <table id="expensesTable" class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th><%= I18n.t 'id' %></th>
          <th></th>
          <th><%= I18n.t 'description' %></th>
          <th class="amount"><%= I18n.t 'value' %></th>
          <th><%= I18n.t 'expense date' %></th>
          <th><%= I18n.t 'tags' %></th>
          <th></th>
        </tr>
      </thead>
    <%
    sum = 0;
    id = 0;
    @expenses.each do |expense|
      sum += expense.amount
      id += 1
      %>
      <%
      tags = []
      budgetIncluded = false
      expense.expenses_tags_association.each do |tag_id|
        if tag_id.tag.budget
          budgetIncluded = true
        end
        tags.push(link_to tag_id.tag.name, tag_id.tag, {:target => '_blank'}) %>
      <% end %>
      <tr>
        <td><%= id %></td>
        <td>
          <% if budgetIncluded %>
            <i class="icon-asterisk" title="<%= I18n.t 'included in budget' %>"></i>
          <% end %>
        </td>
        <td><%= link_to expense.description, edit_expense_path(expense) %></td>
        <td class="amount"><%= number_to_currency expense.amount %></td>
        <td><%= expense.date %></td>
        <td>
          <%= tags.to_sentence.html_safe %>
        </td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_expense_path(expense), :title => (I18n.t 'edit') %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe, expense, method: :delete, data: { confirm: (I18n.t 'Are you sure?') }, :title => (I18n.t 'delete') %>
        </td>
      </tr>
    <% end %>
    </table>
    <div id="pager" style="margin: auto;"></div>
  </div>
  <div class="tab-pane" id="charts">
    <div id="pieChart2" class="chart"></div>
    <div id="pieChart" class="chart"></div>
  </div>
</div>