<% title "Expenses" %>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->

    <span id="show_options"></span>

    <div class="box-body table-responsive">
      <div id="tabs">
        <ul class="nav nav-tabs nav-justified">
          <li><a href="#tabular" data-toggle="tab"><%= I18n.t 'table' %></a></li>
          <li><a href="#charts1" data-toggle="tab"><%= I18n.t 'budget expenses categories' %></a></li>
          <li><a href="#charts2" data-toggle="tab"><%= I18n.t 'all expenses categories' %></a></li>
          <li><a href="#charts3" data-toggle="tab"><%= I18n.t 'show options' %></a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="tabular">
          <table id="expensesTable" class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th><%= I18n.t 'id' %></th>
                <th></th>
                <th><%= I18n.t 'description' %></th>
                <th class="amount"><%= I18n.t 'value' %></th>
                <th><%= I18n.t 'expense date' %></th>
                <th><%= I18n.t 'tags' %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%
            sum = 0;
            id = 0;
            @expenses.each do |expense|
              # sum += expense.amount
              id += 1
              %>
              <%
              tags = []
              budgetIncluded = false
              expense.expenses_tags_association.each do |tag_id|
                if tag_id.tag.budget
                  budgetIncluded = true
                end
                tags.push(link_to tag_id.tag.name, tag_id.tag, {:target => '_blank'}) %>
              <% end %>
              <tr>
                <td><%= id %></td>
                <td>
                  <% if budgetIncluded %>
                    <i class="fa fa-asterisk" title="<%= I18n.t 'included in budget' %>"></i>
                  <% end %>
                  <% if expense.share_percentage != 0 %>
                     <%= expense.share_percentage * 100 %>%
                  <% end %>
                </td>
                <td><%= link_to expense.description, edit_expense_path(expense), {"class"=>"ajax-popup-link"} %></td>
                <td class="amount">
                  <%= number_to_currency (expense.amount * (1 - expense.share_percentage)) %>
                </td>
                <td><%= expense.date %></td>
                <td>
                  <%= tags.to_sentence.html_safe %>
                </td>
                <td>
                  <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_expense_path(expense), {:title => (I18n.t 'edit'), "class"=>"ajax-popup-link"}  %>
                  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, expense, method: :delete, data: { confirm: (I18n.t 'Are you sure?') }, :title => (I18n.t 'delete') %>
                </td>
              </tr>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td><%= I18n.t 'sum' %>:</td>
                <td id="sum"><%= number_to_currency @expenses_sum %></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="tab-pane" id="charts1">
          <div id="pieChart2" class="chart"></div>
        </div>
        <div class="tab-pane" id="charts2">
          <div id="pieChart" class="chart"></div>
        </div>
          <div class="tab-pane" id="charts3">
            <div class="row">
              <%= render 'tags_form' %>
            </div>
          </div>
      </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<script>
  var chart1_data = <%= @chart_data.to_json.html_safe %>;
  var chart2_data = <%= @chart_data2.to_json.html_safe %>;
</script>
