<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @expense.userId %>
</p>

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>

tags:<br />
<% @tags.each do |tag| %>
	<%= tag.name %> 
<% end %>
<br />
<br />

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
