<% title "Expenses" %>
<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Description:</b>
  <%= @expense.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>

<p>tags:</p>
<div class="well well-small">
	<% tags = []
      @expense.getTags.each do |tag| %>
        <% tags.push(link_to tag.tag.name, tag.tag, {:target => '_blank'}) %>
      <% end %>
      <%= tags.to_sentence.html_safe %>
</div>
<p><%= link_to '<i class="icon-chevron-left"></i> all expenses'.html_safe, expenses_path, :title => 'all expenses' %>
<%= link_to '<i class="icon-edit"></i> edit'.html_safe, edit_expense_path(@expense), :title => 'edit' %></p>
