<ul class="sidebar-menu">
    <li class="<%= controller.controller_name == 'expenses' ? 'active' : '' %>">
      <%= link_to expenses_path do %>
        <i class="fa fa-shopping-cart"></i> <%= (I18n.t 'expenses') %>
      <% end %>
    </li>

    <li class="treeview <%= controller.controller_name == 'budgets' ? 'active' : '' %>">
      <%= link_to budgets_path do %>
        <i class="fa fa-list-alt"></i> <%= (I18n.t 'budgets') %>
        <i class="fa fa-angle-left pull-right"></i>
      <% end %>
      <ul class="treeview-menu">
        <li class="<%= controller.controller_name == 'budgets' && controller.action_name == 'index' ? 'active' : '' %>">
          <%= link_to (I18n.t 'budgets'), budgets_path %>
        </li>
        <li class="<%= controller.controller_name == 'budgets' && controller.action_name == 'new' ? 'active' : '' %>">
          <%= link_to (I18n.t 'new budget'), new_budget_path %>
        </li>
      </ul>
    </li>

    <li class="treeview <%= controller.controller_name == 'tags' ? 'active' : '' %>">
      <%= link_to tags_path do %>
        <i class="fa fa-tags"></i> <%= (I18n.t 'tags') %>
        <i class="fa fa-angle-left pull-right"></i>
      <% end %>
      <ul class="treeview-menu">
        <li class="<%= controller.controller_name == 'tags' && controller.action_name == 'index' ? 'active' : '' %>">
          <%= link_to (I18n.t 'tags'), tags_path %>
        </li>
        <li class="<%= controller.controller_name == 'tags' && controller.action_name == 'new' ? 'active' : '' %>">
          <%= link_to (I18n.t 'new tag'), new_tag_path %>
        </li>
      </ul>
    </li>

    <% if session && current_user[:type_id] == 2 %>
      <li class="treeview <%= controller.controller_name == 'users' ? 'active' : '' %> ">
        <%= link_to users_path do %>
          <i class="fa fa-user"></i> <%= (I18n.t 'users') %>
          <i class="fa fa-angle-left pull-right"></i>
        <% end %>
        <ul class="treeview-menu">
          <li class="<%= controller.controller_name == 'users' && controller.action_name == 'index' ? 'active' : '' %>">
            <%= link_to (I18n.t 'users'), users_path %>
          </li>
          <li class="<%= controller.controller_name == 'users' && controller.action_name == 'new' ? 'active' : '' %>">
            <%= link_to (I18n.t 'new user'), new_user_path %>
          </li>
        </ul>
      </li>
    <% end %>
</ul>

