<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['app_name'] %> : <%= yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if user_signed_in? %>
      <%= render 'layouts/menu' %>
    <% end %>

    <% if user_signed_in? %>
    <div class="row">
              <% if @remaining_budget and session[:budget][:id] != 0 %>
        <div class="col-lg-12">
          <div class="alert alert-info">
            <div id="moneyLeft">
                  <%= I18n.t 'remaining in budget' %> <b>"<%= session[:budget][:description] %>"</b>: <span class="
                  <% if @remaining_budget_percentage < 10 %>
                  belowBudget
                  <% else %>
                  overBudget
                  <% end %>
                  "><%= number_to_currency @remaining_budget %>
                </span> (<%= number_to_currency @budget_left_per_day %>/<%= I18n.t 'day' %><span class="ttip" title="<%= @days_left_in_budget %> <%= I18n.t 'days' %> x <%= number_to_currency @budget_left_per_day %> = <%= number_to_currency (@budget_left_per_day * @days_left_in_budget) %>"><i class="fa fa-question"></i></span>)
            </div>
          </div>
        </div>
              <% end %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          <% if flash.count > 0 %>
            <div class="row">
              <div class="col-lg-12">
                <% flash.each do |severity, message| %>
                  <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <%= content_tag(:div, message) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <% if user_signed_in? && current_user[:type_id] == 2 %>
      <hr />
        <div class="row">
          <div class="col-lg-10">
            Rails version: <%= Rails::VERSION::STRING %><br />
            Ruby version: <%= RUBY_VERSION %>
          </div>
        </div>
      <% end %>
  </div>
  <%= javascript_include_tag "application", controller_name %>
  <% if I18n.locale.to_s != 'en' %>
    <%= javascript_include_tag "locales/bootstrap-datepicker.#{I18n.locale}.js" %>
  <% end %>
  <%= javascript_include_tag "locales/jquery.validationEngine-#{I18n.locale}.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('table i').tooltip();
      jQuery('table a').tooltip();
      jQuery('p a').tooltip();
      jQuery('.ttip').tooltip({'placement': 'bottom'});
      jQuery('.datepicker').datepicker({
        'format'  : 'yyyy-mm-dd',
        'weekStart' : 1,
        'autoclose' : true,
        'todayHighlight': true,
        'language': '<%= I18n.locale %>'
      });

    jQuery('select').select2({
        placeholder: '',
        // containerCssClass: 'col-lg-12',
        allowClear: true,
        minimumResultsForSearch: 10
    });

      jQuery('.validate').validationEngine();

    });
  </script>
  <% if ERRBIT_CONFIG['js_notifier'] %>
    <%= airbrake_javascript_notifier %>
  <% end %>
</body>
</html>
