<!DOCTYPE html>
<html>
<head>
  <title>Detox : <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
		    <div class="span2">
					<h4>Detox</h4>
				<% if @loggedIn %>
					<!-- <p>Welcome, <%= session[:user][:name] %></p> -->
				<% end %>
				<ul class="unstyled">
				<li> <i class="icon-home"></i> <%= link_to 'home', '/' %></li>
				<% if @loggedIn %>
					<li> <i class="icon-shopping-cart"></i> <%= link_to 'expenses', expenses_path %></li>
					<li> <i class="icon-tags"></i> <%= link_to 'tags', tags_path %></li>
					<% if session && session[:user][:type_id] == 2 %>
						<li> <i class="icon-user"></i> <%= link_to 'users', users_path %></li>
					<% end %>
					<li> <i class="icon-off"></i> <%= link_to 'log out', logout_url %></li>
				<% end %>
				</ul>
		    </div>
		    <% if @loggedIn %>
			    <div class="span10">
					<div class="row">
						you are here: <em><%= render_breadcrumbs %></em>
					</div>
				</div>
				<hr />
			<% end %>
		    <div class="span10">
				<div class="row">
					<div class="span10">
						<% flash.each do |severity, message| %>
							<div class="alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<%= content_tag(:div, message) %>
							</div>
						<% end %>
					</div>
				</div>
				<%= yield %>
		    </div>
	    </div>
	</div>
</body>
</html>
