<!DOCTYPE html>
<html>
<head>
  <title>Detox : <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  	jQuery(document).ready(function(){
  		jQuery('table i').tooltip();
  		jQuery('table a').tooltip();
  		jQuery('p a').tooltip();
  		jQuery('.ttip').tooltip({'placement': 'bottom'});
  	});
  </script>
</head>
<body>
	<%= airbrake_javascript_notifier %>
	<div class="container">
		<div class="row">
		    <div class="span2">
					<h4>Detox</h4>
				<% if @logged_in %>
					<!-- <p>Welcome, <%= session[:user][:name] %></p> -->
				<% end %>
				<ul class="unstyled">
				<li> <i class="icon-home"></i> <%= link_to (I18n.t 'home'), '/' %></li>
				<% if @logged_in %>
					<li> <i class="icon-shopping-cart"></i> <%= link_to (I18n.t 'expenses'), expenses_path %></li>
					<li> <i class="icon-list-alt"></i> <%= link_to (I18n.t 'budgets'), budgets_path %></li>
					<li> <i class="icon-tags"></i> <%= link_to (I18n.t 'tags'), tags_path %></li>
					<% if session && session[:user][:type_id] == 2 %>
						<li> <i class="icon-user"></i> <%= link_to  (I18n.t'users'), users_path %></li>
					<% end %>
					<li> <i class="icon-off"></i> <%= link_to  (I18n.t'log out'), logout_url %></li>
				<% end %>
				</ul>
		    </div>
		    <% if @logged_in %>
				<div class="span10">
					<% if @remaining_budget and session[:budget][:id] != 0 %>
						<%= I18n.t 'remaining daily budget' %>:
							 		<%= number_to_currency @budget_left_per_day %>
							 		<span class="ttip" title="<%= @days_left_in_budget %> <%= I18n.t 'days' %> x <%= number_to_currency @budget_left_per_day %> = <%= number_to_currency @remaining_budget %>">
							 	<i class="icon-question-sign"></i></span>
					<% end %>
					<div id="moneyLeft">
						<% if @remaining_budget and session[:budget][:id] != 0 %>
						 		<%= I18n.t 'remaining in budget' %> <b>"<%= session[:budget][:description] %>"</b>: <span class="
						 		<% if @remaining_budget_percentage < 10 %>
						 		belowBudget
						 		<% else %>
						 		overBudget
						 		<% end %>
						 		"><%= number_to_currency @remaining_budget %>
						 	</span>
					 	<% end %>
					</div>
				</div>
			<% end %>
		    <div class="span10">
				<div class="row">
					<div class="span10">
						<% flash.each do |severity, message| %>
							<div class="alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<%= content_tag(:div, message) %>
							</div>
						<% end %>
					</div>
				</div>
				<%= yield %>
		    </div>
		    <div class="span10 offset2">
		    <hr />
				<%= I18n.t 'you are here' %>: <em><%= render_breadcrumbs %></em>
			</div>
	    </div>
      <% if @logged_in && session[:user][:type_id] == 2 %>
        <div class="row">
          <div class="span12">
            Rails version: <%= Rails::VERSION::STRING %><br />
            Ruby version: <%= RUBY_VERSION %>
          </div>
        </div>
      <% end %>
  </div>
</body>
</html>
