<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['app_name'] %> : <%= yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="skin-black wysihtml5-supported">
  <div id="bg">
    <img src="<%= asset_path "bg/trianglify.svg" %>" alt="">
  </div>
  <header class="header">
    <%= render 'layouts/header' %>
  </header>
  <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left info">
              <p>Hello, <%= current_user[:name] %></p>
              <% if user_signed_in? %>
                  <p>
                  <% if @remaining_budget %>
                    <i class="fa fa-circle <%= @remaining_budget_percentage < 10 ? 'text-warning' : 'text-success' %>"></i> "<%= session[:budget][:description] %>"
                  <% end %>
                    <a href="#budgets-popup" class="open-popup-link pull-right"><i class="fa fa-calendar"></i></a>
                  </p>
                  <% if @remaining_budget %>
                    <p>
                      <%= number_to_currency @remaining_budget %> / <%= number_to_currency session[:budget][:amount] %>
                    </p>
                  <% end %>
              <% end %>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <% if user_signed_in? %>
          <%= render 'layouts/menu' %>
        <% end %>
    </section>
    </aside>
    <aside class="right-side">
      <!-- <section class="content-header">
          <h1>
              Dashboard
              <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Dashboard</li>
          </ol>
      </section> -->
      <section class="content">
          <div class="row">
            <div class="col-lg-12">
              <% if flash.count > 0 %>
                <div class="row">
                  <div class="col-lg-12">
                    <% flash.each do |severity, message| %>
                      <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <%= content_tag(:div, message) %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="row">
                <div class="col-lg-12">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <% if user_signed_in? && current_user[:type_id] == 2 %>
          <hr />
            <div class="row">
              <div class="col-lg-10">
                Rails version: <%= Rails::VERSION::STRING %><br />
                Ruby version: <%= RUBY_VERSION %>
              </div>
            </div>
          <% end %>
      </section>
    </aside>
  </div>

  <div id="budgets-popup" class="white-popup mfp-hide">
    <p>Select budget</p><br />
    <%= render 'layouts/budgets_form' %>
  </div>

  <%= javascript_include_tag "application", controller_name %>
  <% if I18n.locale.to_s != 'en' %>
    <%= javascript_include_tag "locales/bootstrap-datepicker.#{I18n.locale}.js" %>
  <% end %>
  <%= javascript_include_tag "locales/jquery.validationEngine-#{I18n.locale}.js" %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('table i').tooltip();
      jQuery('table a').tooltip();
      jQuery('p a').tooltip();
      jQuery('.ttip').tooltip({'placement': 'bottom'});
      jQuery('.datepicker').datepicker({
        'format'  : 'yyyy-mm-dd',
        'weekStart' : 1,
        'autoclose' : true,
        'todayHighlight': true,
        'language': '<%= I18n.locale %>'
      });

    jQuery('select').select2({
        placeholder: '',
        // containerCssClass: 'col-lg-12',
        allowClear: true,
        minimumResultsForSearch: 10,
        width: '100%'
    });

      jQuery('.validate').validationEngine();

    });
  </script>
  <% if ERRBIT_CONFIG['js_notifier'] %>
    <%= airbrake_javascript_notifier %>
  <% end %>
</body>
</html>
