<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['app_name'] %> : <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if ERRBIT_CONFIG['js_notifier'] %>
      <%= airbrake_javascript_notifier %>
    <% end %>
    <div class="container" style="background:none;">
        <div class="row">
            <div class="span8 offset2">
                <% flash.each do |severity, message| %>
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <%= content_tag(:div, message) %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="span4 offset4">
                <div class="well" style="background:#fff">
                    <%= yield %>
                </div>
            </div>
        </div>
  </div>
</body>
</html>
